.main-headder {
    color: blue;
    text-align: center;
    position: relative;
}
.headder-title {
    position: relative;
}
.background {
    background-image: url("indexbackground.jpg");
    background-color: grey;
    background-size: cover;
}
.nav {
    background-color: white;
    background-position: center;
    height: 100px;
}